body {
    font-family: "Inter", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 844px;
    margin: auto;
    border: 1px solid black;
    border-radius: 25px;
  }